---
import { getEntry } from "astro:content";
import Layout from "../layout.astro";
import slugify from "slugify";
import { Image } from "astro:assets";
const { slug } = Astro.params;
if (slug === undefined) {
	throw new Error("Slug is required");
}
const entry = await getEntry("posts", slug);
if (entry === undefined) {
	return Astro.redirect("/blog");
}
const { Content, remarkPluginFrontmatter } = await entry.render();

if (entry.data.production == false) {
	return Astro.redirect("/blog");
}
let options = {
	lower: true,
	trim: true,
	remove: undefined as undefined,
};
import { unslugify } from "../../utils/posts";
---

<Layout
	title={"Yash D | "+entry.data.title}
	imgurl=`https://yashd.in/og/${slugify(entry.data.title, {
			lower: true,
			trim: true,
			remove: undefined,
		})}.png`
	description={entry.data.description}
>
	<article
		class="article w-full flex flex-col justify-center mx-auto pt-[10vh] px-6 md:px-0"
	>
		<h1 class="!font-bold !text-title !text-center mx-auto">
			{entry.data.title}
		</h1>
		<h4
			class="flex flex-col md:flex-row gap-x-10 gap-y-5 mx-auto items-center justify-center h-fit"
		>
			<span class="flex gap-2 items-center"
				><Image
					class="!w-8 aspect-square object-cover !rounded-full"
					src="/images/white.jpg"
					alt="Avatar for Yash D"
					height={40}
					width={40}
				/>Yash Deshpande
			</span>
			<span
				>Written on {
					new Date(entry.data.pubDate).toLocaleDateString("en-US", {
						month: "long",
						day: "numeric",
						year: "numeric",
					})
				}
			</span>
			<span> {remarkPluginFrontmatter.minutesRead}</span>
		</h4>

		<span class="flex flex-row md:flex-col items-center justify-center gap-5 md:gap-0 md:space-x-5 md:space-y-5 *:border *:px-2.5 *:py-1 *:rounded-2xl *:mt-3 md:*:mt-0 ">

			{
				entry.data.tags.map((tag: string) => (
					<a href=`/tags/${slugify(tag,options)}` class="!text-text !no-underline transition hover:!bg-green hover:!text-background !border-2 !mx-auto ">
						{unslugify(tag)}
					</a>
				))
			}
		</span>
		<Content />
		<hr>
	</article>
</Layout>
